.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

#nav-ok{
  margin-left:315px;
  
}
.navbar-inverse{
  background-color:transparent;
}

#first{
  height:300px;
}

h1{
  color:white;
  font-size: 100px;
  text-shadow: 2px 2px #000000;
  border-style:solid black;
}

.centered{
  text-align:center;
}
.centered p{
  font-size:35px;
}



