.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}



.navbar-inverse{
  background-color:transparent;
}
 
#myMenu{
  text-align:center;
}

#myMenu ul{
  display:inline-block;
  vertical-align:top;
}

h1{
  margin-top:50px;
  color:white;
  font-size: 100px;
  text-shadow: 2px 2px #000000;
  border-style:solid black;
}

.centered{
  text-align:center;
}
.centered p{
  font-size:35px;
}



