.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

#nav-ok{
  margin-left:400px;
  
}
.navbar-inverse{
  background-color:transparent;
}

h1{
  color:white;
  font-size: 500px;
  text-shadow: 2px 2px #ffffff;
}

.centered{
  text-align:center;
}
